body {
    font-family: Arial, sans-serif;
    /* background-color: #ffffff; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 0; /* Keep header empty */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    /* box-sizing: border-box; */
}

.director-message {
    display: flex;
    max-width: 1100px;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.director-image {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-right: 20px;
}

.message-content {
    max-width: 780px;
    color: black;
    line-height: 1.2;
}

.message-content h1 {
    color: rgb(8, 115, 68);
    margin: 0 0 20px 0;
    font-size: 20px;
    justify-content: center;
    align-content: center;
}

.message-content h2 {
    color: rgb(18, 117, 52);
    display: flex;
    align-items: center;
    
    margin: 0 0 20px 0;
    font-size: 20px;
}

.message-content h2 i {
    margin-right: 10px;
}

.message-content p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .director-message {
        flex-direction: column;
        align-items: center;
    }
    .message-content {
        max-width: 780px;
        color: black;
        line-height: 1;
    }

    .director-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}