.slide-container{
    /* margin: 5px 100px; */
    width: 750px;
    border-radius: 300px;
    color: black;
}

@media (max-width: 768px) {
    .slide-container {
      width: 90%; /* Adjust the width to be a percentage of the viewport */
      border-radius: 20px; /* Reduce the border-radius for better fit on smaller screens */
      margin: 0 auto; /* Center the slide container */
    }
  }