.footer-top{
    flex: 1;
    display: flex;
    gap: 150px;
    align-items: center;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-left: 150px;
}
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.footer-right{
    margin-left: 75px;
}

.contact{
    margin-top: 5px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    justify-content: space-around;
}

IoMdCall,IoMdMail{
    margin: 200px;
}

.footer-btm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    color: #383838;
    font-size: 30px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap:50px;
    color: #252525;
    font-size: 20px;
}

iframe{
    border: 0;
    border-radius: 50px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
    margin: 0;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
    margin: 0;
}