.App {
  text-align: center;
  /* background: linear-gradient(lightblue,rgb(115, 115, 255)); */
  color: white;
  background: rgb(216, 216, 216);
  /* background: url("./components/assets/imgs/bck1.png");
  /* background: linear-gradient(#3d52A0,#7091E6,#8697C4,#ADBBDA,#EDE8F5); */
  /* background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; */ 
}

